.table_box {
  color: black;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.table_box th {
  background-color: pink;
  outline: black;
}
/* .container_to {
  display: flex;
  flex-wrap: wrap;
}

.responsive-img {
  width: 45%;
  height: auto;
  margin: 10px;
}

@media (max-width: 768px) {
  .responsive-img {
    width: 100%;
  }
} */

.container_to {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  max-width: 1200px; 
  margin: 0 auto; 
  gap: 20px; 
}

.responsive-img {
  width: 45%;
  height: auto;
  max-width: 500px;
  margin-bottom: 10px; 
}

@media (max-width: 768px) {
  .container_to {
    justify-content: center;
  }

  .responsive-img {
    width: 90%;
    max-width: 400px;
  }
}
.centered-img-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 20px 0;
}
