.container {
  color: #000000;
  /* margin-left: 10%;
  margin-right: 10%; */
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.containerR {
  width: 150px;
  height: 150px;
  display: grid;
  overflow: hidden;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}
.item {
  color: white;
}
.title {
  color: palevioletred;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: #19376d;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-weight: 500;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.historyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 17px;
  background: palevioletred;
  background: linear-gradient(90deg, pink 0%, rgba(212, 143, 240, 0.852) 100%);
  border-radius: 20px;
  padding: 24px;
}

.historyItem h3 {
  color: grey;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-weight: bold;
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}
